@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  background-color: #ff8c00;
  color: #0b0b0b;
  font-family: var(--font-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-weight: 700;
}
